In [5]:
import random
from datetime import date, timedelta

In [6]:
random.seed(42)

# ---------- CONFIG ----------
NUM_BRANCHES = 20
NUM_CUSTOMERS = 50
NUM_ACCOUNTS = 50
NUM_LOANS = 40
NUM_REPAYMENTS = 20

In [7]:
cities = [
    "Mumbai", "Delhi", "Bangalore", "Chennai", "Hyderabad",
    "Pune", "Kolkata", "Ahmedabad", "Jaipur", "Chandigarh"
]

male_names = [
    "Amit", "Rahul", "Rohit", "Suresh", "Vikram", "Arjun", "Karan",
    "Ankit", "Deepak", "Manish", "Ravi", "Nikhil", "Sanjay"
]

female_names = [
    "Anita", "Pooja", "Neha", "Kavita", "Priya", "Shreya", "Ritu",
    "Sneha", "Divya", "Meera", "Aishwarya", "Sunita"
]

loan_types = ["HOME", "PERSONAL", "AUTO"]
account_types = ["SAVINGS", "CURRENT", "FD"]
kyc_statuses = ["VERIFIED", "PENDING"]
loan_statuses = ["ACTIVE", "CLOSED", "NPA"]

start_date = date(2020, 1, 1)

def rand_date(start, end_days=1500):
    return start + timedelta(days=random.randint(0, end_days))

In [8]:
# ---------- BRANCHES ----------
print("-- Branches")
for i in range(1, NUM_BRANCHES + 1):
    print(
        f"INSERT INTO branches (branch_name, city) VALUES "
        f"('Branch_{i}', '{random.choice(cities)}');"
    )

-- Branches
INSERT INTO branches (branch_name, city) VALUES ('Branch_1', 'Delhi');
INSERT INTO branches (branch_name, city) VALUES ('Branch_2', 'Mumbai');
INSERT INTO branches (branch_name, city) VALUES ('Branch_3', 'Hyderabad');
INSERT INTO branches (branch_name, city) VALUES ('Branch_4', 'Chennai');
INSERT INTO branches (branch_name, city) VALUES ('Branch_5', 'Chennai');
INSERT INTO branches (branch_name, city) VALUES ('Branch_6', 'Bangalore');
INSERT INTO branches (branch_name, city) VALUES ('Branch_7', 'Delhi');
INSERT INTO branches (branch_name, city) VALUES ('Branch_8', 'Jaipur');
INSERT INTO branches (branch_name, city) VALUES ('Branch_9', 'Delhi');
INSERT INTO branches (branch_name, city) VALUES ('Branch_10', 'Chandigarh');
INSERT INTO branches (branch_name, city) VALUES ('Branch_11', 'Kolkata');
INSERT INTO branches (branch_name, city) VALUES ('Branch_12', 'Mumbai');
INSERT INTO branches (branch_name, city) VALUES ('Branch_13', 'Mumbai');
INSERT INTO branches (branch_name, city) VALUES ('Branch_14', 'Delhi');
INSERT INTO branches (branch_name, city) VALUES ('Branch_15', 'Chennai');
INSERT INTO branches (branch_name, city) VALUES ('Branch_16', 'Chennai');
INSERT INTO branches (branch_name, city) VALUES ('Branch_17', 'Jaipur');
INSERT INTO branches (branch_name, city) VALUES ('Branch_18', 'Chandigarh');
INSERT INTO branches (branch_name, city) VALUES ('Branch_19', 'Mumbai');
INSERT INTO branches (branch_name, city) VALUES ('Branch_20', 'Jaipur');

In [9]:

# ---------- CUSTOMERS ----------
print("\n-- Customers")
for i in range(1, NUM_CUSTOMERS + 1):
    name = random.choice(male_names if random.random() < 0.5 else female_names)
    print(
        f"INSERT INTO customers (full_name, kyc_status, created_at) VALUES "
        f"('{name}', '{random.choice(kyc_statuses)}', '{rand_date(start_date)}');"
    )

-- Customers
INSERT INTO customers (full_name, kyc_status, created_at) VALUES ('Ravi', 'PENDING', '2021-03-27');
INSERT INTO customers (full_name, kyc_status, created_at) VALUES ('Vikram', 'VERIFIED', '2020-11-22');
INSERT INTO customers (full_name, kyc_status, created_at) VALUES ('Shreya', 'PENDING', '2020-11-14');
INSERT INTO customers (full_name, kyc_status, created_at) VALUES ('Sanjay', 'PENDING', '2020-07-28');
INSERT INTO customers (full_name, kyc_status, created_at) VALUES ('Rahul', 'PENDING', '2021-12-05');
INSERT INTO customers (full_name, kyc_status, created_at) VALUES ('Anita', 'PENDING', '2023-01-03');
INSERT INTO customers (full_name, kyc_status, created_at) VALUES ('Karan', 'VERIFIED', '2023-02-04');
INSERT INTO customers (full_name, kyc_status, created_at) VALUES ('Ravi', 'PENDING', '2023-03-28');
INSERT INTO customers (full_name, kyc_status, created_at) VALUES ('Rahul', 'VERIFIED', '2023-09-16');
INSERT INTO customers (full_name, kyc_status, created_at) VALUES ('Vikram', 'VERIFIED', '2021-04-21');
INSERT INTO customers (full_name, kyc_status, created_at) VALUES ('Ritu', 'PENDING', '2022-07-17');
INSERT INTO customers (full_name, kyc_status, created_at) VALUES ('Shreya', 'VERIFIED', '2022-01-28');
INSERT INTO customers (full_name, kyc_status, created_at) VALUES ('Ravi', 'PENDING', '2023-12-08');
INSERT INTO customers (full_name, kyc_status, created_at) VALUES ('Aishwarya', 'VERIFIED', '2023-06-01');
INSERT INTO customers (full_name, kyc_status, created_at) VALUES ('Divya', 'VERIFIED', '2020-11-30');
INSERT INTO customers (full_name, kyc_status, created_at) VALUES ('Vikram', 'VERIFIED', '2023-11-03');
INSERT INTO customers (full_name, kyc_status, created_at) VALUES ('Sanjay', 'VERIFIED', '2021-04-14');
INSERT INTO customers (full_name, kyc_status, created_at) VALUES ('Shreya', 'PENDING', '2021-07-02');
INSERT INTO customers (full_name, kyc_status, created_at) VALUES ('Manish', 'PENDING', '2021-03-11');
INSERT INTO customers (full_name, kyc_status, created_at) VALUES ('Ritu', 'PENDING', '2020-10-19');
INSERT INTO customers (full_name, kyc_status, created_at) VALUES ('Suresh', 'PENDING', '2023-04-12');
INSERT INTO customers (full_name, kyc_status, created_at) VALUES ('Manish', 'PENDING', '2022-01-11');
INSERT INTO customers (full_name, kyc_status, created_at) VALUES ('Rohit', 'PENDING', '2020-07-05');
INSERT INTO customers (full_name, kyc_status, created_at) VALUES ('Pooja', 'VERIFIED', '2023-07-09');
INSERT INTO customers (full_name, kyc_status, created_at) VALUES ('Ravi', 'PENDING', '2023-05-06');
INSERT INTO customers (full_name, kyc_status, created_at) VALUES ('Karan', 'PENDING', '2022-12-19');
INSERT INTO customers (full_name, kyc_status, created_at) VALUES ('Deepak', 'VERIFIED', '2023-10-25');
INSERT INTO customers (full_name, kyc_status, created_at) VALUES ('Aishwarya', 'PENDING', '2023-08-05');
INSERT INTO customers (full_name, kyc_status, created_at) VALUES ('Vikram', 'PENDING', '2020-11-19');
INSERT INTO customers (full_name, kyc_status, created_at) VALUES ('Nikhil', 'PENDING', '2022-10-22');
INSERT INTO customers (full_name, kyc_status, created_at) VALUES ('Divya', 'VERIFIED', '2023-07-04');
INSERT INTO customers (full_name, kyc_status, created_at) VALUES ('Ravi', 'VERIFIED', '2020-11-09');
INSERT INTO customers (full_name, kyc_status, created_at) VALUES ('Rohit', 'VERIFIED', '2023-05-11');
INSERT INTO customers (full_name, kyc_status, created_at) VALUES ('Amit', 'VERIFIED', '2022-01-13');
INSERT INTO customers (full_name, kyc_status, created_at) VALUES ('Priya', 'VERIFIED', '2020-04-28');
INSERT INTO customers (full_name, kyc_status, created_at) VALUES ('Manish', 'VERIFIED', '2020-06-24');
INSERT INTO customers (full_name, kyc_status, created_at) VALUES ('Pooja', 'VERIFIED', '2020-09-19');
INSERT INTO customers (full_name, kyc_status, created_at) VALUES ('Divya', 'VERIFIED', '2021-06-26');
INSERT INTO customers (full_name, kyc_status, created_at) VALUES ('Meera', 'PENDING', '2021-03-09');
INSERT INTO customers (full_name, kyc_status, created_at) VALUES ('Sunita', 'VERIFIED', '2023-12-31');
INSERT INTO customers (full_name, kyc_status, created_at) VALUES ('Ravi', 'PENDING', '2022-06-16');
INSERT INTO customers (full_name, kyc_status, created_at) VALUES ('Sneha', 'VERIFIED', '2021-05-22');
INSERT INTO customers (full_name, kyc_status, created_at) VALUES ('Arjun', 'VERIFIED', '2023-04-19');
INSERT INTO customers (full_name, kyc_status, created_at) VALUES ('Meera', 'VERIFIED', '2020-01-15');
INSERT INTO customers (full_name, kyc_status, created_at) VALUES ('Ravi', 'VERIFIED', '2021-04-13');
INSERT INTO customers (full_name, kyc_status, created_at) VALUES ('Amit', 'PENDING', '2020-05-25');
INSERT INTO customers (full_name, kyc_status, created_at) VALUES ('Priya', 'PENDING', '2021-03-14');
INSERT INTO customers (full_name, kyc_status, created_at) VALUES ('Sunita', 'PENDING', '2021-05-12');
INSERT INTO customers (full_name, kyc_status, created_at) VALUES ('Ritu', 'VERIFIED', '2020-07-12');
INSERT INTO customers (full_name, kyc_status, created_at) VALUES ('Karan', 'PENDING', '2022-05-17');

In [10]:
# ---------- ACCOUNTS ----------
print("\n-- Accounts")
for _ in range(NUM_ACCOUNTS):
    print(
        "INSERT INTO accounts "
        "(customer_id, branch_id, account_type, balance, opened_at) VALUES ("
        "(SELECT customer_id FROM customers WHERE deleted_at IS NULL ORDER BY random() LIMIT 1), "
        "(SELECT branch_id FROM branches WHERE deleted_at IS NULL ORDER BY random() LIMIT 1), "
        f"'{random.choice(account_types)}', "
        f"{round(random.uniform(1000, 30000), 2)}, "
        f"'{rand_date(start_date)}'"
        ");"
    )

-- Accounts
INSERT INTO accounts (customer_id, branch_id, account_type, balance, opened_at) VALUES ((SELECT customer_id FROM customers WHERE deleted_at IS NULL ORDER BY random() LIMIT 1), (SELECT branch_id FROM branches WHERE deleted_at IS NULL ORDER BY random() LIMIT 1), 'CURRENT', 14543.72, '2024-02-02');
INSERT INTO accounts (customer_id, branch_id, account_type, balance, opened_at) VALUES ((SELECT customer_id FROM customers WHERE deleted_at IS NULL ORDER BY random() LIMIT 1), (SELECT branch_id FROM branches WHERE deleted_at IS NULL ORDER BY random() LIMIT 1), 'SAVINGS', 20527.57, '2023-08-16');
INSERT INTO accounts (customer_id, branch_id, account_type, balance, opened_at) VALUES ((SELECT customer_id FROM customers WHERE deleted_at IS NULL ORDER BY random() LIMIT 1), (SELECT branch_id FROM branches WHERE deleted_at IS NULL ORDER BY random() LIMIT 1), 'SAVINGS', 2757.77, '2024-01-31');
INSERT INTO accounts (customer_id, branch_id, account_type, balance, opened_at) VALUES ((SELECT customer_id FROM customers WHERE deleted_at IS NULL ORDER BY random() LIMIT 1), (SELECT branch_id FROM branches WHERE deleted_at IS NULL ORDER BY random() LIMIT 1), 'CURRENT', 24217.18, '2020-08-11');
INSERT INTO accounts (customer_id, branch_id, account_type, balance, opened_at) VALUES ((SELECT customer_id FROM customers WHERE deleted_at IS NULL ORDER BY random() LIMIT 1), (SELECT branch_id FROM branches WHERE deleted_at IS NULL ORDER BY random() LIMIT 1), 'SAVINGS', 6556.11, '2023-01-03');
INSERT INTO accounts (customer_id, branch_id, account_type, balance, opened_at) VALUES ((SELECT customer_id FROM customers WHERE deleted_at IS NULL ORDER BY random() LIMIT 1), (SELECT branch_id FROM branches WHERE deleted_at IS NULL ORDER BY random() LIMIT 1), 'CURRENT', 5065.29, '2021-01-10');
INSERT INTO accounts (customer_id, branch_id, account_type, balance, opened_at) VALUES ((SELECT customer_id FROM customers WHERE deleted_at IS NULL ORDER BY random() LIMIT 1), (SELECT branch_id FROM branches WHERE deleted_at IS NULL ORDER BY random() LIMIT 1), 'CURRENT', 14416.21, '2020-06-03');
INSERT INTO accounts (customer_id, branch_id, account_type, balance, opened_at) VALUES ((SELECT customer_id FROM customers WHERE deleted_at IS NULL ORDER BY random() LIMIT 1), (SELECT branch_id FROM branches WHERE deleted_at IS NULL ORDER BY random() LIMIT 1), 'CURRENT', 24432.65, '2023-02-01');
INSERT INTO accounts (customer_id, branch_id, account_type, balance, opened_at) VALUES ((SELECT customer_id FROM customers WHERE deleted_at IS NULL ORDER BY random() LIMIT 1), (SELECT branch_id FROM branches WHERE deleted_at IS NULL ORDER BY random() LIMIT 1), 'SAVINGS', 2467.06, '2023-01-12');
INSERT INTO accounts (customer_id, branch_id, account_type, balance, opened_at) VALUES ((SELECT customer_id FROM customers WHERE deleted_at IS NULL ORDER BY random() LIMIT 1), (SELECT branch_id FROM branches WHERE deleted_at IS NULL ORDER BY random() LIMIT 1), 'SAVINGS', 29100.89, '2021-04-29');
INSERT INTO accounts (customer_id, branch_id, account_type, balance, opened_at) VALUES ((SELECT customer_id FROM customers WHERE deleted_at IS NULL ORDER BY random() LIMIT 1), (SELECT branch_id FROM branches WHERE deleted_at IS NULL ORDER BY random() LIMIT 1), 'SAVINGS', 12786.01, '2022-09-12');
INSERT INTO accounts (customer_id, branch_id, account_type, balance, opened_at) VALUES ((SELECT customer_id FROM customers WHERE deleted_at IS NULL ORDER BY random() LIMIT 1), (SELECT branch_id FROM branches WHERE deleted_at IS NULL ORDER BY random() LIMIT 1), 'SAVINGS', 26074.86, '2020-04-30');
INSERT INTO accounts (customer_id, branch_id, account_type, balance, opened_at) VALUES ((SELECT customer_id FROM customers WHERE deleted_at IS NULL ORDER BY random() LIMIT 1), (SELECT branch_id FROM branches WHERE deleted_at IS NULL ORDER BY random() LIMIT 1), 'SAVINGS', 11990.22, '2022-03-10');
INSERT INTO accounts (customer_id, branch_id, account_type, balance, opened_at) VALUES ((SELECT customer_id FROM customers WHERE deleted_at IS NULL ORDER BY random() LIMIT 1), (SELECT branch_id FROM branches WHERE deleted_at IS NULL ORDER BY random() LIMIT 1), 'CURRENT', 27869.02, '2022-07-20');
INSERT INTO accounts (customer_id, branch_id, account_type, balance, opened_at) VALUES ((SELECT customer_id FROM customers WHERE deleted_at IS NULL ORDER BY random() LIMIT 1), (SELECT branch_id FROM branches WHERE deleted_at IS NULL ORDER BY random() LIMIT 1), 'CURRENT', 13267.22, '2024-02-05');
INSERT INTO accounts (customer_id, branch_id, account_type, balance, opened_at) VALUES ((SELECT customer_id FROM customers WHERE deleted_at IS NULL ORDER BY random() LIMIT 1), (SELECT branch_id FROM branches WHERE deleted_at IS NULL ORDER BY random() LIMIT 1), 'FD', 20194.27, '2022-09-23');
INSERT INTO accounts (customer_id, branch_id, account_type, balance, opened_at) VALUES ((SELECT customer_id FROM customers WHERE deleted_at IS NULL ORDER BY random() LIMIT 1), (SELECT branch_id FROM branches WHERE deleted_at IS NULL ORDER BY random() LIMIT 1), 'SAVINGS', 6507.04, '2021-03-21');
INSERT INTO accounts (customer_id, branch_id, account_type, balance, opened_at) VALUES ((SELECT customer_id FROM customers WHERE deleted_at IS NULL ORDER BY random() LIMIT 1), (SELECT branch_id FROM branches WHERE deleted_at IS NULL ORDER BY random() LIMIT 1), 'SAVINGS', 17796.23, '2023-01-15');
INSERT INTO accounts (customer_id, branch_id, account_type, balance, opened_at) VALUES ((SELECT customer_id FROM customers WHERE deleted_at IS NULL ORDER BY random() LIMIT 1), (SELECT branch_id FROM branches WHERE deleted_at IS NULL ORDER BY random() LIMIT 1), 'SAVINGS', 22691.29, '2020-04-27');
INSERT INTO accounts (customer_id, branch_id, account_type, balance, opened_at) VALUES ((SELECT customer_id FROM customers WHERE deleted_at IS NULL ORDER BY random() LIMIT 1), (SELECT branch_id FROM branches WHERE deleted_at IS NULL ORDER BY random() LIMIT 1), 'SAVINGS', 17941.15, '2022-10-26');
INSERT INTO accounts (customer_id, branch_id, account_type, balance, opened_at) VALUES ((SELECT customer_id FROM customers WHERE deleted_at IS NULL ORDER BY random() LIMIT 1), (SELECT branch_id FROM branches WHERE deleted_at IS NULL ORDER BY random() LIMIT 1), 'FD', 5565.55, '2022-11-06');
INSERT INTO accounts (customer_id, branch_id, account_type, balance, opened_at) VALUES ((SELECT customer_id FROM customers WHERE deleted_at IS NULL ORDER BY random() LIMIT 1), (SELECT branch_id FROM branches WHERE deleted_at IS NULL ORDER BY random() LIMIT 1), 'SAVINGS', 25688.93, '2020-05-20');
INSERT INTO accounts (customer_id, branch_id, account_type, balance, opened_at) VALUES ((SELECT customer_id FROM customers WHERE deleted_at IS NULL ORDER BY random() LIMIT 1), (SELECT branch_id FROM branches WHERE deleted_at IS NULL ORDER BY random() LIMIT 1), 'FD', 2970.87, '2021-04-26');
INSERT INTO accounts (customer_id, branch_id, account_type, balance, opened_at) VALUES ((SELECT customer_id FROM customers WHERE deleted_at IS NULL ORDER BY random() LIMIT 1), (SELECT branch_id FROM branches WHERE deleted_at IS NULL ORDER BY random() LIMIT 1), 'CURRENT', 4476.71, '2023-03-12');
INSERT INTO accounts (customer_id, branch_id, account_type, balance, opened_at) VALUES ((SELECT customer_id FROM customers WHERE deleted_at IS NULL ORDER BY random() LIMIT 1), (SELECT branch_id FROM branches WHERE deleted_at IS NULL ORDER BY random() LIMIT 1), 'SAVINGS', 17788.65, '2020-03-22');
INSERT INTO accounts (customer_id, branch_id, account_type, balance, opened_at) VALUES ((SELECT customer_id FROM customers WHERE deleted_at IS NULL ORDER BY random() LIMIT 1), (SELECT branch_id FROM branches WHERE deleted_at IS NULL ORDER BY random() LIMIT 1), 'FD', 3377.52, '2023-09-08');
INSERT INTO accounts (customer_id, branch_id, account_type, balance, opened_at) VALUES ((SELECT customer_id FROM customers WHERE deleted_at IS NULL ORDER BY random() LIMIT 1), (SELECT branch_id FROM branches WHERE deleted_at IS NULL ORDER BY random() LIMIT 1), 'FD', 17391.58, '2021-10-09');
INSERT INTO accounts (customer_id, branch_id, account_type, balance, opened_at) VALUES ((SELECT customer_id FROM customers WHERE deleted_at IS NULL ORDER BY random() LIMIT 1), (SELECT branch_id FROM branches WHERE deleted_at IS NULL ORDER BY random() LIMIT 1), 'CURRENT', 6923.52, '2024-01-06');
INSERT INTO accounts (customer_id, branch_id, account_type, balance, opened_at) VALUES ((SELECT customer_id FROM customers WHERE deleted_at IS NULL ORDER BY random() LIMIT 1), (SELECT branch_id FROM branches WHERE deleted_at IS NULL ORDER BY random() LIMIT 1), 'CURRENT', 7921.89, '2022-03-21');
INSERT INTO accounts (customer_id, branch_id, account_type, balance, opened_at) VALUES ((SELECT customer_id FROM customers WHERE deleted_at IS NULL ORDER BY random() LIMIT 1), (SELECT branch_id FROM branches WHERE deleted_at IS NULL ORDER BY random() LIMIT 1), 'SAVINGS', 20479.02, '2021-09-06');
INSERT INTO accounts (customer_id, branch_id, account_type, balance, opened_at) VALUES ((SELECT customer_id FROM customers WHERE deleted_at IS NULL ORDER BY random() LIMIT 1), (SELECT branch_id FROM branches WHERE deleted_at IS NULL ORDER BY random() LIMIT 1), 'CURRENT', 10169.14, '2020-05-28');
INSERT INTO accounts (customer_id, branch_id, account_type, balance, opened_at) VALUES ((SELECT customer_id FROM customers WHERE deleted_at IS NULL ORDER BY random() LIMIT 1), (SELECT branch_id FROM branches WHERE deleted_at IS NULL ORDER BY random() LIMIT 1), 'SAVINGS', 14290.28, '2023-02-27');
INSERT INTO accounts (customer_id, branch_id, account_type, balance, opened_at) VALUES ((SELECT customer_id FROM customers WHERE deleted_at IS NULL ORDER BY random() LIMIT 1), (SELECT branch_id FROM branches WHERE deleted_at IS NULL ORDER BY random() LIMIT 1), 'SAVINGS', 3124.56, '2021-03-12');
INSERT INTO accounts (customer_id, branch_id, account_type, balance, opened_at) VALUES ((SELECT customer_id FROM customers WHERE deleted_at IS NULL ORDER BY random() LIMIT 1), (SELECT branch_id FROM branches WHERE deleted_at IS NULL ORDER BY random() LIMIT 1), 'FD', 8690.81, '2021-12-15');
INSERT INTO accounts (customer_id, branch_id, account_type, balance, opened_at) VALUES ((SELECT customer_id FROM customers WHERE deleted_at IS NULL ORDER BY random() LIMIT 1), (SELECT branch_id FROM branches WHERE deleted_at IS NULL ORDER BY random() LIMIT 1), 'SAVINGS', 26498.84, '2022-01-26');
INSERT INTO accounts (customer_id, branch_id, account_type, balance, opened_at) VALUES ((SELECT customer_id FROM customers WHERE deleted_at IS NULL ORDER BY random() LIMIT 1), (SELECT branch_id FROM branches WHERE deleted_at IS NULL ORDER BY random() LIMIT 1), 'CURRENT', 5574.66, '2023-01-17');
INSERT INTO accounts (customer_id, branch_id, account_type, balance, opened_at) VALUES ((SELECT customer_id FROM customers WHERE deleted_at IS NULL ORDER BY random() LIMIT 1), (SELECT branch_id FROM branches WHERE deleted_at IS NULL ORDER BY random() LIMIT 1), 'FD', 9773.0, '2023-09-01');
INSERT INTO accounts (customer_id, branch_id, account_type, balance, opened_at) VALUES ((SELECT customer_id FROM customers WHERE deleted_at IS NULL ORDER BY random() LIMIT 1), (SELECT branch_id FROM branches WHERE deleted_at IS NULL ORDER BY random() LIMIT 1), 'FD', 1226.87, '2023-02-09');
INSERT INTO accounts (customer_id, branch_id, account_type, balance, opened_at) VALUES ((SELECT customer_id FROM customers WHERE deleted_at IS NULL ORDER BY random() LIMIT 1), (SELECT branch_id FROM branches WHERE deleted_at IS NULL ORDER BY random() LIMIT 1), 'CURRENT', 28020.93, '2020-07-31');
INSERT INTO accounts (customer_id, branch_id, account_type, balance, opened_at) VALUES ((SELECT customer_id FROM customers WHERE deleted_at IS NULL ORDER BY random() LIMIT 1), (SELECT branch_id FROM branches WHERE deleted_at IS NULL ORDER BY random() LIMIT 1), 'SAVINGS', 8669.51, '2020-08-07');
INSERT INTO accounts (customer_id, branch_id, account_type, balance, opened_at) VALUES ((SELECT customer_id FROM customers WHERE deleted_at IS NULL ORDER BY random() LIMIT 1), (SELECT branch_id FROM branches WHERE deleted_at IS NULL ORDER BY random() LIMIT 1), 'FD', 17043.49, '2021-07-11');
INSERT INTO accounts (customer_id, branch_id, account_type, balance, opened_at) VALUES ((SELECT customer_id FROM customers WHERE deleted_at IS NULL ORDER BY random() LIMIT 1), (SELECT branch_id FROM branches WHERE deleted_at IS NULL ORDER BY random() LIMIT 1), 'CURRENT', 18540.06, '2024-01-09');
INSERT INTO accounts (customer_id, branch_id, account_type, balance, opened_at) VALUES ((SELECT customer_id FROM customers WHERE deleted_at IS NULL ORDER BY random() LIMIT 1), (SELECT branch_id FROM branches WHERE deleted_at IS NULL ORDER BY random() LIMIT 1), 'CURRENT', 6904.32, '2023-07-22');
INSERT INTO accounts (customer_id, branch_id, account_type, balance, opened_at) VALUES ((SELECT customer_id FROM customers WHERE deleted_at IS NULL ORDER BY random() LIMIT 1), (SELECT branch_id FROM branches WHERE deleted_at IS NULL ORDER BY random() LIMIT 1), 'CURRENT', 15656.86, '2021-05-29');
INSERT INTO accounts (customer_id, branch_id, account_type, balance, opened_at) VALUES ((SELECT customer_id FROM customers WHERE deleted_at IS NULL ORDER BY random() LIMIT 1), (SELECT branch_id FROM branches WHERE deleted_at IS NULL ORDER BY random() LIMIT 1), 'SAVINGS', 3676.66, '2022-05-17');
INSERT INTO accounts (customer_id, branch_id, account_type, balance, opened_at) VALUES ((SELECT customer_id FROM customers WHERE deleted_at IS NULL ORDER BY random() LIMIT 1), (SELECT branch_id FROM branches WHERE deleted_at IS NULL ORDER BY random() LIMIT 1), 'CURRENT', 2278.52, '2021-11-14');
INSERT INTO accounts (customer_id, branch_id, account_type, balance, opened_at) VALUES ((SELECT customer_id FROM customers WHERE deleted_at IS NULL ORDER BY random() LIMIT 1), (SELECT branch_id FROM branches WHERE deleted_at IS NULL ORDER BY random() LIMIT 1), 'SAVINGS', 19476.29, '2021-06-20');
INSERT INTO accounts (customer_id, branch_id, account_type, balance, opened_at) VALUES ((SELECT customer_id FROM customers WHERE deleted_at IS NULL ORDER BY random() LIMIT 1), (SELECT branch_id FROM branches WHERE deleted_at IS NULL ORDER BY random() LIMIT 1), 'SAVINGS', 22495.7, '2023-02-03');
INSERT INTO accounts (customer_id, branch_id, account_type, balance, opened_at) VALUES ((SELECT customer_id FROM customers WHERE deleted_at IS NULL ORDER BY random() LIMIT 1), (SELECT branch_id FROM branches WHERE deleted_at IS NULL ORDER BY random() LIMIT 1), 'FD', 13402.92, '2020-01-20');
INSERT INTO accounts (customer_id, branch_id, account_type, balance, opened_at) VALUES ((SELECT customer_id FROM customers WHERE deleted_at IS NULL ORDER BY random() LIMIT 1), (SELECT branch_id FROM branches WHERE deleted_at IS NULL ORDER BY random() LIMIT 1), 'SAVINGS', 3182.07, '2023-11-16');

In [11]:

# ---------- LOANS ----------
print("\n-- Loans")
for _ in range(NUM_LOANS):
    principal = random.randint(50_000, 2_000_000)
    print(
        "INSERT INTO loans "
        "(customer_id, branch_id, loan_type, principal, interest_rate, tenure_months, disbursed_at, status) VALUES ("
        "(SELECT customer_id FROM customers WHERE deleted_at IS NULL ORDER BY random() LIMIT 1), "
        "(SELECT branch_id FROM branches WHERE deleted_at IS NULL ORDER BY random() LIMIT 1), "
        f"'{random.choice(loan_types)}', "
        f"{principal}, "
        f"{round(random.uniform(8.0, 18.0), 2)}, "
        f"{random.choice([12, 24, 36, 60, 120])}, "
        f"'{rand_date(start_date)}', "
        f"'{random.choice(loan_statuses)}'"
        ");"
    )

-- Loans
INSERT INTO loans (customer_id, branch_id, loan_type, principal, interest_rate, tenure_months, disbursed_at, status) VALUES ((SELECT customer_id FROM customers WHERE deleted_at IS NULL ORDER BY random() LIMIT 1), (SELECT branch_id FROM branches WHERE deleted_at IS NULL ORDER BY random() LIMIT 1), 'HOME', 1945675, 13.46, 36, '2023-04-07', 'NPA');
INSERT INTO loans (customer_id, branch_id, loan_type, principal, interest_rate, tenure_months, disbursed_at, status) VALUES ((SELECT customer_id FROM customers WHERE deleted_at IS NULL ORDER BY random() LIMIT 1), (SELECT branch_id FROM branches WHERE deleted_at IS NULL ORDER BY random() LIMIT 1), 'PERSONAL', 360575, 9.27, 36, '2022-01-16', 'ACTIVE');
INSERT INTO loans (customer_id, branch_id, loan_type, principal, interest_rate, tenure_months, disbursed_at, status) VALUES ((SELECT customer_id FROM customers WHERE deleted_at IS NULL ORDER BY random() LIMIT 1), (SELECT branch_id FROM branches WHERE deleted_at IS NULL ORDER BY random() LIMIT 1), 'PERSONAL', 1935181, 10.1, 24, '2023-09-27', 'ACTIVE');
INSERT INTO loans (customer_id, branch_id, loan_type, principal, interest_rate, tenure_months, disbursed_at, status) VALUES ((SELECT customer_id FROM customers WHERE deleted_at IS NULL ORDER BY random() LIMIT 1), (SELECT branch_id FROM branches WHERE deleted_at IS NULL ORDER BY random() LIMIT 1), 'AUTO', 791717, 16.84, 60, '2023-06-25', 'NPA');
INSERT INTO loans (customer_id, branch_id, loan_type, principal, interest_rate, tenure_months, disbursed_at, status) VALUES ((SELECT customer_id FROM customers WHERE deleted_at IS NULL ORDER BY random() LIMIT 1), (SELECT branch_id FROM branches WHERE deleted_at IS NULL ORDER BY random() LIMIT 1), 'HOME', 374121, 16.65, 24, '2022-04-24', 'ACTIVE');
INSERT INTO loans (customer_id, branch_id, loan_type, principal, interest_rate, tenure_months, disbursed_at, status) VALUES ((SELECT customer_id FROM customers WHERE deleted_at IS NULL ORDER BY random() LIMIT 1), (SELECT branch_id FROM branches WHERE deleted_at IS NULL ORDER BY random() LIMIT 1), 'AUTO', 426146, 17.24, 60, '2023-10-03', 'NPA');
INSERT INTO loans (customer_id, branch_id, loan_type, principal, interest_rate, tenure_months, disbursed_at, status) VALUES ((SELECT customer_id FROM customers WHERE deleted_at IS NULL ORDER BY random() LIMIT 1), (SELECT branch_id FROM branches WHERE deleted_at IS NULL ORDER BY random() LIMIT 1), 'HOME', 1750264, 10.67, 12, '2022-02-22', 'ACTIVE');
INSERT INTO loans (customer_id, branch_id, loan_type, principal, interest_rate, tenure_months, disbursed_at, status) VALUES ((SELECT customer_id FROM customers WHERE deleted_at IS NULL ORDER BY random() LIMIT 1), (SELECT branch_id FROM branches WHERE deleted_at IS NULL ORDER BY random() LIMIT 1), 'PERSONAL', 1850600, 10.22, 60, '2021-12-17', 'CLOSED');
INSERT INTO loans (customer_id, branch_id, loan_type, principal, interest_rate, tenure_months, disbursed_at, status) VALUES ((SELECT customer_id FROM customers WHERE deleted_at IS NULL ORDER BY random() LIMIT 1), (SELECT branch_id FROM branches WHERE deleted_at IS NULL ORDER BY random() LIMIT 1), 'HOME', 1770789, 10.23, 24, '2022-03-27', 'CLOSED');
INSERT INTO loans (customer_id, branch_id, loan_type, principal, interest_rate, tenure_months, disbursed_at, status) VALUES ((SELECT customer_id FROM customers WHERE deleted_at IS NULL ORDER BY random() LIMIT 1), (SELECT branch_id FROM branches WHERE deleted_at IS NULL ORDER BY random() LIMIT 1), 'HOME', 634272, 17.67, 36, '2021-12-20', 'NPA');
INSERT INTO loans (customer_id, branch_id, loan_type, principal, interest_rate, tenure_months, disbursed_at, status) VALUES ((SELECT customer_id FROM customers WHERE deleted_at IS NULL ORDER BY random() LIMIT 1), (SELECT branch_id FROM branches WHERE deleted_at IS NULL ORDER BY random() LIMIT 1), 'PERSONAL', 1118301, 14.8, 120, '2021-11-09', 'ACTIVE');
INSERT INTO loans (customer_id, branch_id, loan_type, principal, interest_rate, tenure_months, disbursed_at, status) VALUES ((SELECT customer_id FROM customers WHERE deleted_at IS NULL ORDER BY random() LIMIT 1), (SELECT branch_id FROM branches WHERE deleted_at IS NULL ORDER BY random() LIMIT 1), 'PERSONAL', 291889, 9.79, 36, '2020-03-19', 'ACTIVE');
INSERT INTO loans (customer_id, branch_id, loan_type, principal, interest_rate, tenure_months, disbursed_at, status) VALUES ((SELECT customer_id FROM customers WHERE deleted_at IS NULL ORDER BY random() LIMIT 1), (SELECT branch_id FROM branches WHERE deleted_at IS NULL ORDER BY random() LIMIT 1), 'PERSONAL', 1301100, 11.46, 36, '2022-06-12', 'NPA');
INSERT INTO loans (customer_id, branch_id, loan_type, principal, interest_rate, tenure_months, disbursed_at, status) VALUES ((SELECT customer_id FROM customers WHERE deleted_at IS NULL ORDER BY random() LIMIT 1), (SELECT branch_id FROM branches WHERE deleted_at IS NULL ORDER BY random() LIMIT 1), 'HOME', 1122531, 11.85, 120, '2021-01-24', 'CLOSED');
INSERT INTO loans (customer_id, branch_id, loan_type, principal, interest_rate, tenure_months, disbursed_at, status) VALUES ((SELECT customer_id FROM customers WHERE deleted_at IS NULL ORDER BY random() LIMIT 1), (SELECT branch_id FROM branches WHERE deleted_at IS NULL ORDER BY random() LIMIT 1), 'AUTO', 143085, 12.36, 120, '2023-01-07', 'NPA');
INSERT INTO loans (customer_id, branch_id, loan_type, principal, interest_rate, tenure_months, disbursed_at, status) VALUES ((SELECT customer_id FROM customers WHERE deleted_at IS NULL ORDER BY random() LIMIT 1), (SELECT branch_id FROM branches WHERE deleted_at IS NULL ORDER BY random() LIMIT 1), 'AUTO', 1558754, 15.37, 24, '2022-01-15', 'CLOSED');
INSERT INTO loans (customer_id, branch_id, loan_type, principal, interest_rate, tenure_months, disbursed_at, status) VALUES ((SELECT customer_id FROM customers WHERE deleted_at IS NULL ORDER BY random() LIMIT 1), (SELECT branch_id FROM branches WHERE deleted_at IS NULL ORDER BY random() LIMIT 1), 'AUTO', 196745, 17.21, 120, '2021-10-04', 'NPA');
INSERT INTO loans (customer_id, branch_id, loan_type, principal, interest_rate, tenure_months, disbursed_at, status) VALUES ((SELECT customer_id FROM customers WHERE deleted_at IS NULL ORDER BY random() LIMIT 1), (SELECT branch_id FROM branches WHERE deleted_at IS NULL ORDER BY random() LIMIT 1), 'HOME', 1828416, 15.2, 36, '2022-11-04', 'CLOSED');
INSERT INTO loans (customer_id, branch_id, loan_type, principal, interest_rate, tenure_months, disbursed_at, status) VALUES ((SELECT customer_id FROM customers WHERE deleted_at IS NULL ORDER BY random() LIMIT 1), (SELECT branch_id FROM branches WHERE deleted_at IS NULL ORDER BY random() LIMIT 1), 'PERSONAL', 1448575, 11.26, 36, '2023-02-09', 'ACTIVE');
INSERT INTO loans (customer_id, branch_id, loan_type, principal, interest_rate, tenure_months, disbursed_at, status) VALUES ((SELECT customer_id FROM customers WHERE deleted_at IS NULL ORDER BY random() LIMIT 1), (SELECT branch_id FROM branches WHERE deleted_at IS NULL ORDER BY random() LIMIT 1), 'PERSONAL', 452317, 14.65, 60, '2023-10-19', 'NPA');
INSERT INTO loans (customer_id, branch_id, loan_type, principal, interest_rate, tenure_months, disbursed_at, status) VALUES ((SELECT customer_id FROM customers WHERE deleted_at IS NULL ORDER BY random() LIMIT 1), (SELECT branch_id FROM branches WHERE deleted_at IS NULL ORDER BY random() LIMIT 1), 'HOME', 1943320, 14.16, 36, '2022-04-11', 'NPA');
INSERT INTO loans (customer_id, branch_id, loan_type, principal, interest_rate, tenure_months, disbursed_at, status) VALUES ((SELECT customer_id FROM customers WHERE deleted_at IS NULL ORDER BY random() LIMIT 1), (SELECT branch_id FROM branches WHERE deleted_at IS NULL ORDER BY random() LIMIT 1), 'HOME', 1798448, 11.04, 24, '2022-05-30', 'NPA');
INSERT INTO loans (customer_id, branch_id, loan_type, principal, interest_rate, tenure_months, disbursed_at, status) VALUES ((SELECT customer_id FROM customers WHERE deleted_at IS NULL ORDER BY random() LIMIT 1), (SELECT branch_id FROM branches WHERE deleted_at IS NULL ORDER BY random() LIMIT 1), 'AUTO', 1322261, 11.22, 60, '2022-06-24', 'NPA');
INSERT INTO loans (customer_id, branch_id, loan_type, principal, interest_rate, tenure_months, disbursed_at, status) VALUES ((SELECT customer_id FROM customers WHERE deleted_at IS NULL ORDER BY random() LIMIT 1), (SELECT branch_id FROM branches WHERE deleted_at IS NULL ORDER BY random() LIMIT 1), 'AUTO', 498164, 12.73, 24, '2023-09-11', 'ACTIVE');
INSERT INTO loans (customer_id, branch_id, loan_type, principal, interest_rate, tenure_months, disbursed_at, status) VALUES ((SELECT customer_id FROM customers WHERE deleted_at IS NULL ORDER BY random() LIMIT 1), (SELECT branch_id FROM branches WHERE deleted_at IS NULL ORDER BY random() LIMIT 1), 'AUTO', 645143, 14.64, 120, '2021-11-17', 'ACTIVE');
INSERT INTO loans (customer_id, branch_id, loan_type, principal, interest_rate, tenure_months, disbursed_at, status) VALUES ((SELECT customer_id FROM customers WHERE deleted_at IS NULL ORDER BY random() LIMIT 1), (SELECT branch_id FROM branches WHERE deleted_at IS NULL ORDER BY random() LIMIT 1), 'HOME', 1766358, 14.73, 24, '2021-02-11', 'ACTIVE');
INSERT INTO loans (customer_id, branch_id, loan_type, principal, interest_rate, tenure_months, disbursed_at, status) VALUES ((SELECT customer_id FROM customers WHERE deleted_at IS NULL ORDER BY random() LIMIT 1), (SELECT branch_id FROM branches WHERE deleted_at IS NULL ORDER BY random() LIMIT 1), 'HOME', 101223, 10.45, 60, '2023-06-05', 'ACTIVE');
INSERT INTO loans (customer_id, branch_id, loan_type, principal, interest_rate, tenure_months, disbursed_at, status) VALUES ((SELECT customer_id FROM customers WHERE deleted_at IS NULL ORDER BY random() LIMIT 1), (SELECT branch_id FROM branches WHERE deleted_at IS NULL ORDER BY random() LIMIT 1), 'PERSONAL', 1005076, 16.86, 120, '2021-02-02', 'NPA');
INSERT INTO loans (customer_id, branch_id, loan_type, principal, interest_rate, tenure_months, disbursed_at, status) VALUES ((SELECT customer_id FROM customers WHERE deleted_at IS NULL ORDER BY random() LIMIT 1), (SELECT branch_id FROM branches WHERE deleted_at IS NULL ORDER BY random() LIMIT 1), 'PERSONAL', 1510360, 12.94, 24, '2020-10-29', 'NPA');
INSERT INTO loans (customer_id, branch_id, loan_type, principal, interest_rate, tenure_months, disbursed_at, status) VALUES ((SELECT customer_id FROM customers WHERE deleted_at IS NULL ORDER BY random() LIMIT 1), (SELECT branch_id FROM branches WHERE deleted_at IS NULL ORDER BY random() LIMIT 1), 'HOME', 1492048, 16.93, 12, '2022-05-20', 'ACTIVE');
INSERT INTO loans (customer_id, branch_id, loan_type, principal, interest_rate, tenure_months, disbursed_at, status) VALUES ((SELECT customer_id FROM customers WHERE deleted_at IS NULL ORDER BY random() LIMIT 1), (SELECT branch_id FROM branches WHERE deleted_at IS NULL ORDER BY random() LIMIT 1), 'AUTO', 418861, 13.18, 12, '2023-02-15', 'ACTIVE');
INSERT INTO loans (customer_id, branch_id, loan_type, principal, interest_rate, tenure_months, disbursed_at, status) VALUES ((SELECT customer_id FROM customers WHERE deleted_at IS NULL ORDER BY random() LIMIT 1), (SELECT branch_id FROM branches WHERE deleted_at IS NULL ORDER BY random() LIMIT 1), 'HOME', 1974074, 12.56, 60, '2023-09-29', 'NPA');
INSERT INTO loans (customer_id, branch_id, loan_type, principal, interest_rate, tenure_months, disbursed_at, status) VALUES ((SELECT customer_id FROM customers WHERE deleted_at IS NULL ORDER BY random() LIMIT 1), (SELECT branch_id FROM branches WHERE deleted_at IS NULL ORDER BY random() LIMIT 1), 'AUTO', 1222151, 11.17, 60, '2023-06-08', 'NPA');
INSERT INTO loans (customer_id, branch_id, loan_type, principal, interest_rate, tenure_months, disbursed_at, status) VALUES ((SELECT customer_id FROM customers WHERE deleted_at IS NULL ORDER BY random() LIMIT 1), (SELECT branch_id FROM branches WHERE deleted_at IS NULL ORDER BY random() LIMIT 1), 'AUTO', 1920702, 12.27, 120, '2022-07-02', 'ACTIVE');
INSERT INTO loans (customer_id, branch_id, loan_type, principal, interest_rate, tenure_months, disbursed_at, status) VALUES ((SELECT customer_id FROM customers WHERE deleted_at IS NULL ORDER BY random() LIMIT 1), (SELECT branch_id FROM branches WHERE deleted_at IS NULL ORDER BY random() LIMIT 1), 'PERSONAL', 1609558, 12.5, 24, '2023-07-29', 'CLOSED');
INSERT INTO loans (customer_id, branch_id, loan_type, principal, interest_rate, tenure_months, disbursed_at, status) VALUES ((SELECT customer_id FROM customers WHERE deleted_at IS NULL ORDER BY random() LIMIT 1), (SELECT branch_id FROM branches WHERE deleted_at IS NULL ORDER BY random() LIMIT 1), 'AUTO', 1656027, 12.85, 24, '2021-07-16', 'CLOSED');
INSERT INTO loans (customer_id, branch_id, loan_type, principal, interest_rate, tenure_months, disbursed_at, status) VALUES ((SELECT customer_id FROM customers WHERE deleted_at IS NULL ORDER BY random() LIMIT 1), (SELECT branch_id FROM branches WHERE deleted_at IS NULL ORDER BY random() LIMIT 1), 'AUTO', 212494, 10.86, 36, '2021-11-18', 'CLOSED');
INSERT INTO loans (customer_id, branch_id, loan_type, principal, interest_rate, tenure_months, disbursed_at, status) VALUES ((SELECT customer_id FROM customers WHERE deleted_at IS NULL ORDER BY random() LIMIT 1), (SELECT branch_id FROM branches WHERE deleted_at IS NULL ORDER BY random() LIMIT 1), 'AUTO', 1922813, 8.81, 24, '2021-04-18', 'CLOSED');
INSERT INTO loans (customer_id, branch_id, loan_type, principal, interest_rate, tenure_months, disbursed_at, status) VALUES ((SELECT customer_id FROM customers WHERE deleted_at IS NULL ORDER BY random() LIMIT 1), (SELECT branch_id FROM branches WHERE deleted_at IS NULL ORDER BY random() LIMIT 1), 'HOME', 1505318, 15.06, 12, '2022-04-29', 'CLOSED');
INSERT INTO loans (customer_id, branch_id, loan_type, principal, interest_rate, tenure_months, disbursed_at, status) VALUES ((SELECT customer_id FROM customers WHERE deleted_at IS NULL ORDER BY random() LIMIT 1), (SELECT branch_id FROM branches WHERE deleted_at IS NULL ORDER BY random() LIMIT 1), 'AUTO', 743908, 12.66, 12, '2021-02-27', 'CLOSED');

In [12]:
# ---------- REPAYMENTS ----------
print("\n-- Repayments")
for _ in range(NUM_REPAYMENTS):
    due = rand_date(start_date)
    paid = due + timedelta(days=random.choice([0, 5, 15, 30]))
    print(
        "INSERT INTO repayments "
        "(loan_id, due_date, paid_date, amount_due, amount_paid) VALUES ("
        "(SELECT loan_id FROM loans WHERE deleted_at IS NULL ORDER BY random() LIMIT 1), "
        f"'{due}', "
        f"'{paid}', "
        f"{round(random.uniform(3000, 50000), 2)}, "
        f"{round(random.uniform(2000, 50000), 2)}"
        ");"
    )

-- Repayments
INSERT INTO repayments (loan_id, due_date, paid_date, amount_due, amount_paid) VALUES ((SELECT loan_id FROM loans WHERE deleted_at IS NULL ORDER BY random() LIMIT 1), '2022-03-08', '2022-03-08', 43266.41, 38748.54);
INSERT INTO repayments (loan_id, due_date, paid_date, amount_due, amount_paid) VALUES ((SELECT loan_id FROM loans WHERE deleted_at IS NULL ORDER BY random() LIMIT 1), '2022-02-18', '2022-03-20', 3277.12, 18884.42);
INSERT INTO repayments (loan_id, due_date, paid_date, amount_due, amount_paid) VALUES ((SELECT loan_id FROM loans WHERE deleted_at IS NULL ORDER BY random() LIMIT 1), '2022-03-09', '2022-04-08', 28296.37, 37262.43);
INSERT INTO repayments (loan_id, due_date, paid_date, amount_due, amount_paid) VALUES ((SELECT loan_id FROM loans WHERE deleted_at IS NULL ORDER BY random() LIMIT 1), '2023-05-20', '2023-05-25', 25946.79, 15100.89);
INSERT INTO repayments (loan_id, due_date, paid_date, amount_due, amount_paid) VALUES ((SELECT loan_id FROM loans WHERE deleted_at IS NULL ORDER BY random() LIMIT 1), '2022-09-21', '2022-09-21', 21276.29, 34105.93);
INSERT INTO repayments (loan_id, due_date, paid_date, amount_due, amount_paid) VALUES ((SELECT loan_id FROM loans WHERE deleted_at IS NULL ORDER BY random() LIMIT 1), '2022-04-08', '2022-04-13', 42503.77, 46138.0);
INSERT INTO repayments (loan_id, due_date, paid_date, amount_due, amount_paid) VALUES ((SELECT loan_id FROM loans WHERE deleted_at IS NULL ORDER BY random() LIMIT 1), '2023-06-28', '2023-06-28', 45625.66, 30410.85);
INSERT INTO repayments (loan_id, due_date, paid_date, amount_due, amount_paid) VALUES ((SELECT loan_id FROM loans WHERE deleted_at IS NULL ORDER BY random() LIMIT 1), '2023-09-19', '2023-09-19', 6945.53, 22573.41);
INSERT INTO repayments (loan_id, due_date, paid_date, amount_due, amount_paid) VALUES ((SELECT loan_id FROM loans WHERE deleted_at IS NULL ORDER BY random() LIMIT 1), '2022-08-03', '2022-08-08', 5363.38, 20196.99);
INSERT INTO repayments (loan_id, due_date, paid_date, amount_due, amount_paid) VALUES ((SELECT loan_id FROM loans WHERE deleted_at IS NULL ORDER BY random() LIMIT 1), '2021-03-09', '2021-04-08', 18361.75, 38539.03);
INSERT INTO repayments (loan_id, due_date, paid_date, amount_due, amount_paid) VALUES ((SELECT loan_id FROM loans WHERE deleted_at IS NULL ORDER BY random() LIMIT 1), '2022-02-15', '2022-03-02', 38344.46, 41932.37);
INSERT INTO repayments (loan_id, due_date, paid_date, amount_due, amount_paid) VALUES ((SELECT loan_id FROM loans WHERE deleted_at IS NULL ORDER BY random() LIMIT 1), '2021-05-31', '2021-05-31', 25104.42, 37953.16);
INSERT INTO repayments (loan_id, due_date, paid_date, amount_due, amount_paid) VALUES ((SELECT loan_id FROM loans WHERE deleted_at IS NULL ORDER BY random() LIMIT 1), '2020-04-16', '2020-05-01', 13538.44, 5293.68);
INSERT INTO repayments (loan_id, due_date, paid_date, amount_due, amount_paid) VALUES ((SELECT loan_id FROM loans WHERE deleted_at IS NULL ORDER BY random() LIMIT 1), '2023-08-27', '2023-08-27', 38448.96, 47581.36);
INSERT INTO repayments (loan_id, due_date, paid_date, amount_due, amount_paid) VALUES ((SELECT loan_id FROM loans WHERE deleted_at IS NULL ORDER BY random() LIMIT 1), '2021-02-12', '2021-02-12', 32202.78, 13450.16);
INSERT INTO repayments (loan_id, due_date, paid_date, amount_due, amount_paid) VALUES ((SELECT loan_id FROM loans WHERE deleted_at IS NULL ORDER BY random() LIMIT 1), '2022-08-27', '2022-08-27', 29506.57, 12462.3);
INSERT INTO repayments (loan_id, due_date, paid_date, amount_due, amount_paid) VALUES ((SELECT loan_id FROM loans WHERE deleted_at IS NULL ORDER BY random() LIMIT 1), '2023-12-03', '2023-12-18', 39044.21, 10053.88);
INSERT INTO repayments (loan_id, due_date, paid_date, amount_due, amount_paid) VALUES ((SELECT loan_id FROM loans WHERE deleted_at IS NULL ORDER BY random() LIMIT 1), '2023-05-28', '2023-05-28', 39556.22, 9860.76);
INSERT INTO repayments (loan_id, due_date, paid_date, amount_due, amount_paid) VALUES ((SELECT loan_id FROM loans WHERE deleted_at IS NULL ORDER BY random() LIMIT 1), '2021-09-29', '2021-09-29', 30198.18, 46586.58);
INSERT INTO repayments (loan_id, due_date, paid_date, amount_due, amount_paid) VALUES ((SELECT loan_id FROM loans WHERE deleted_at IS NULL ORDER BY random() LIMIT 1), '2023-03-25', '2023-04-24', 21642.76, 36320.71);